* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: auto;
    height: 100vh;
    background: #26ff00a3;
    color: #fff;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #026500;
    padding: 10px 20px;
    height: 10vh;
}
nav .logo{
    display:flex; 
    justify-content:space;
    margin-right: 1rem;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 4.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.subject-btn {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.subject-btn:hover {
    background-color: #065900;
    color: white;
    transform: scale(1.1);
}

.roadmap {
    display: none;
    text-align: center;
}
.roadmap h2{
    color: black;
}

svg {
    margin-top: 20px;
}

.roadmap.active {
    display: block;
}

.subtopics {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.subtopic-btn {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.subtopic-btn:hover {
    background-color: rgba(0, 0, 0, 0.407);
    color: #fff;
}

.roadmap h2{
    margin-top: 2rem;
}
circle {
    stroke: #fff;
    stroke-width: 2;
}
rect {
    stroke: #fff;
    stroke-width: 2;
}

text {
    font-size: 14px;
    font-weight: bold;
}